<!DOCTYPE html>
<html lang="en">
<head>
  <title>users</title>
  <style>
    #customers {
      font-family: Arial, Helvetica, sans-serif;
      border-collapse: collapse;
      width: 100%;
    }
    
    #customers td, #customers th {
      border: 1px solid #ddd;
      padding: 8px;
      
    }
    
    #customers tr:nth-child(even){background-color: #f2f2f2;}
    
    #customers tr:hover {background-color: #ddd;}
    
    #customers th {
      padding-top: 12px;
      padding-bottom: 12px;
      text-align: left;
      background-color: #04AA6D;
      color: white;
    }
    </style>
</head>
<body>
    <div id="customers">
<h2>users</h2>
    <table border="1">
        <tr>

            <th></th>
            <th>Position</th>
            <th>id</th>
            <th>username</th>
            <th>Karma_score</th>
            <th>Image Id</th>
            <th>Image url</th>
        </tr>
        
        <%
        if(userData.length!=0){
        var i=1;
        userData.forEach(function(data){
        %>
        <tr>
           
            <td><%=i %></td>
            <td><%=data.position %></td>
            <td><%=data.id %></td>
            <td><%=data.username %></td>
            <td><%=data.Karma_score %></td>
            <td><%=data["image.id"] %></td>
            <td><%=data["image.url"] %></td>
        </tr>
        <%  i++; }) %>
        <% } else{ %>
            <tr>
                <td colspan="7">No Data Found</td>
            </tr>
        <% } %>
    </table>
    </div>
</body>
</html>